@using BlazorWebCV.Enums
@inject IJSRuntime _jsRuntime

<MudAvatar Class="mudAvatarLeftMenu">
    <MudImage Src="images/meIRL.png" Style="width: 80% !important;"></MudImage>
</MudAvatar>
<MudText Typo="TitleTypo" Style="text-align: center">.NET Software Developer</MudText>
<MudText Typo="Typo.h6" Style="text-align: center"><strong style="color: rgba(255, 168, 0, 1);">Email: </strong>spylak@hotmail.com</MudText>
<MudText Typo="Typo.h6" Style="text-align: center"><strong style="color: rgba(255, 168, 0, 1);">Address: </strong>Greece</MudText>
<div style="display: flex;justify-content: center">
    <MudTooltip Text="@SocialMedia.Github.ToString()">
        <MudIconButton OnClick="() => OnSocialClick(SocialMedia.Github)" Icon="@Icons.Custom.Brands.GitHub" Class="mudIconClass" Color="AppState.ButtonColor" Size="Size.Large"></MudIconButton>
    </MudTooltip>
    <MudTooltip Text="@SocialMedia.LinkedIn.ToString()">
        <MudIconButton OnClick="() => OnSocialClick(SocialMedia.LinkedIn)" Icon="@Icons.Custom.Brands.LinkedIn" Class="mudIconClass" Color="AppState.ButtonColor" Size="Size.Large"></MudIconButton>
    </MudTooltip>
    <MudTooltip Text="@SocialMedia.Instagram.ToString()">
        <MudIconButton OnClick="() => OnSocialClick(SocialMedia.Instagram)" Icon="@Icons.Custom.Brands.Instagram" Class="mudIconClass" Color="AppState.ButtonColor" Size="Size.Large"></MudIconButton>
    </MudTooltip>
</div>
<MudSpacer/>
<MudText Style="color : dodgerblue;cursor: pointer"
         @onclick="@(() => OnClick(NavMenuItems.Last().Section))"
         Typo="Typo.body2"
         Class="px-4">
    @NavMenuItems.Last().Text
</MudText>
<style>
    .mudAvatarLeftMenu{
    margin: auto;
        height: 50% !important;
        width: 80% !important;
    }
    .mudIconClass{
    margin: 15px;
    background-color:  @(AppState.Theme == AppConstants.DarkTheme ? "inherit" : "lightgray");
    }
</style>

@code {

}