@page "/"
@using BlazorWebCV.Models

@if (matrix)
{
    <div style="left: 45%;margin-top: 30%" class="lds-hourglass">
    </div>
}
else
{
    <MudGrid UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Profile } })">
        <MudItem Style="height: 98vh" xs="12">
            <MudCard>
                <MudCardContent>
                    <MudGrid >
                        <MudItem xs="12" Style="padding:0;">
                            @if (AppState.Theme == AppConstants.LightTheme)
                            {
                                <MudImage Src="images/robot.webp" Style="@ImageStyle"/>
                            }
                            else
                            {
                                <MudImage Src="images/me.webp" Style="@ImageStyle"/>
                            }
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudDivider Style="margin:0;"/>
                <MudCardContent @onclick="OnClick" Style=@($"background-color: {color};cursor: pointer;")>
                    <MudCarousel @bind-SelectedIndex="count"  Style="height: 150px;text-align: center" ShowDelimiters="false" ShowArrows="false" AutoCycleTime="TimeSpan.FromSeconds(10)" TData="object">
                        <MudCarouselItem  Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                            <MudText Style="margin-top: 1%;">
                                My name is Karakoulak Spyridon.<br/>
                                I am a Full Stack Developer with a passion for new technologies and progression.<br/>
                                Programming is a way of life that I find particularly exciting, combining innovation, <br/>
                                challenges and future growth.<br/>
                            </MudText>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                            <MudText  Style="margin-top: 1%;">
                                Currently I enjoy working on Blazor, C# and .NET! <br/>
                                I develop and maintain web and software applications & dynamic websites! <br/>
                            </MudText>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                            <MudText  Style="margin-top: 1%;">
                                In my free time I study for my Master's Degree in Data Science and Machine Learning <br/>
                                in order to gain expertise in the field, since everything in this era <br/>
                                and the one coming ahead consists of data, loads of data!<br/>
                            </MudText>
                        </MudCarouselItem>
                        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                            @if (AppState.Theme == AppConstants.LightTheme)
                            {
                                <img  style="height: 150px;width: 100%;" src="images/lightlogo.webp"/>
                            }
                            else
                            {
                                <img  style="height: 150px;width: 100%;" src="images/dev.webp"/>
                            }
                        </MudCarouselItem>
                    </MudCarousel>
                </MudCardContent>
                <MudDivider Style="margin:0;"/>
            </MudCard>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Experience } })" xs="12" style=@($"background-color: {color};padding:0;margin-top:5%")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Experience</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <Experience/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Projects } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Projects</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <Projects/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Tools } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Tools - Technologies - Methodologies</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <Tools/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Skills } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Skills</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <Skills/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Certifications } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Certifications</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <Certifications/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Interests } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Interests</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <Interests/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.InProgress } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">In Progress</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem xs="12">
            <InProgress/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Contact } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <h3 style="text-align: center;margin: 20px">Contact</h3>
            <MudDivider Style="margin:0;"/>
        </MudItem>
        <MudItem UserAttributes="@(new Dictionary<string, object>() { { "id", SectionModel.Copyright } })" xs="12" style=@($"background-color: {color};padding:0")>
            <MudDivider Style="margin:0;"/>
            <div style="text-align: center; margin: 20px">
                <p>The code is open source and everything used in this project can be found there</p>
                <p> along with their respectable links.Click <a target="_blank" style="color: dodgerblue" href="https://github.com/MrSpyretos/KarakoulakCV">here</a> for source code.</p>
            </div>
            <MudDivider Style="margin:0;"/>
        </MudItem>
    </MudGrid>
    <div style="height: 50px"></div>
}

@code
{

}