@page "/Interests"

<h3 style="text-align: center">Interests</h3>
<MudGrid>
    <MudItem xs="6">
        <MudCard>
            <MudCardContent>
                <MudCarousel Style="height: 350px; color: white" ShowDelimiters="false" ShowArrows="false" AutoCycleTime="TimeSpan.FromSeconds(5)" TData="object">
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center;">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Gym</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.creativefabrica.com%2Fwp-content%2Fuploads%2F2020%2F02%2F10%2FGym-Logo-Graphics-1-45-580x386.jpg&f=1&nofb=1"/>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center;">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Gaming</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/gamer-logo-design-template-b60e672ab8ace6966e31dbc1f509dc9e_screen.jpg?ts=1600442558"/>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6">
        <MudCard>
            <MudCardContent>
                <MudCarousel Style="height: 350px; color: white" ShowDelimiters="false" ShowArrows="false" AutoCycleTime="TimeSpan.FromSeconds(7)" TData="object">
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Anime</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg00.deviantart.net%2F5e32%2Fi%2F2011%2F039%2F3%2Ff%2Fstrongworld_mugiwara_crew_by_lilprincess95-d394dzf.png&f=1&nofb=1"/>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Team Sports</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F4b%2F17%2F05%2F4b17056f4bdc25ed24a1b2fc63737bb2.jpg&f=1&nofb=1"/>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
<MudGrid>
    <MudItem xs="6">
        <MudCard>
            <MudCardContent>
                <MudCarousel Style="height: 350px; color: white" ShowDelimiters="false" ShowArrows="false" AutoCycleTime="TimeSpan.FromSeconds(9)" TData="object">
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Hiking</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="images/1633094592464.jpg"/>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Camping</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fonmilwaukee.com%2Fimages%2Farticles%2Fca%2Fcamping%2Fcamping_fullsize_story1.jpg%3F20080730123152&f=1&nofb=1"/>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6">
        <MudCard>
            <MudCardContent>
                <MudCarousel Style="height: 350px; color: white" ShowDelimiters="false" ShowArrows="false" AutoCycleTime="TimeSpan.FromSeconds(11)" TData="object">
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Travelling</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="images/sea.jpg"/>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="@AnimationEntrance" CustomTransitionExit="@AnimationExit">
                        <MudCardHeader Style="justify-content: center">
                            <MudText Typo="Typo.h6" Style=@($"color:{color}")>Series</MudText>
                        </MudCardHeader>
                        <img height="300px" width="100%" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.themoviethemesong.com%2Fwp-content%2Fuploads%2F2014%2F04%2FThe-Big-Bang-Theory-Theme-Song-3.jpg&f=1&nofb=1"/>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {

    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private string color { get; set; } 
    protected override void OnInitialized()
    {
        if (theme == "dark")
        {
            color = "rgba(93, 255, 0, 1)";
        }
        else
        {
            color = "black";
        }
    }

    protected override Task OnParametersSetAsync()
    {
        color = theme == "dark" ? "rgba(93, 255, 0, 1)" : "black";
        return base.OnParametersSetAsync();
    }

    private string AnimationEntrance = "animate__animated animate__bounceInDown animate__delay-1s";
    private string AnimationExit = "animate__animated animate__bounceOutUp";
}