@page "/Skills"
@inject IResizeListener _listener
@using Breakpoints = BlazorPro.BlazorSize.Breakpoints
@implements System.IDisposable

<MudGrid>

<MudItem xs="12" sm="6">
<MudCard>
<MudCardHeader>
    <MudText Typo="typo">Programming Skills</MudText>
</MudCardHeader>
<MudCardContent>
<MudGrid>
<MudItem xs="12" sm="6">
    <MudList>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fee%2F.NET_Core_Logo.svg%2F1200px-.NET_Core_Logo.svg.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem xs="9">
                    <MudText Style="position: absolute;top: 30%;"> .Net Core</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fnewhp%2Fmicrosoft-sql-server-microsoft-azure-sql-database-microsoft.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem xs="9">
                    <MudText Style="position: absolute;top: 30%;"> SQL</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fe7.pngegg.com%2Fpngimages%2F840%2F443%2Fpng-clipart-html-5-logo-web-development-html-css3-canvas-element-web-design-w3c-html5-logo-miscellaneous-text.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> HTML</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.vhv.rs%2Fdpng%2Fd%2F456-4562295_library-of-javascript-icon-graphic-freeuse-png-files.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> JavaScript</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fjquery-logo-png-jquerypro-600.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> jQuery</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-c3LY4cJYR4Q%2FXWf84NqegAI%2FAAAAAAAAADk%2F5a1NLXWsGgEC9Q2yikfcILPJjnnnObDjwCLcBGAs%2Fs1600%2FDevExpress-DXperience-e1494852896492.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> DevExtreme</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mindgearstechnologies.com%2Fwp-content%2Fuploads%2F2020%2F04%2Fblazor-feature-360x260.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> Blazor</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pinclipart.com%2Fpicdir%2Fmiddle%2F116-1161113_docker-logo-png-clipart.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> Docker</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.koskila.net%2Fwp-content%2Fuploads%2F2019%2F11%2F2019-11-11_12-01-271-750x383.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> Entity Framework Core</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
          <MudListItem>
                    <MudGrid>
                        <MudItem xs="3">
                            <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Fpython-logo-png-4.jpg&f=1&nofb=1">
                            </MudAvatar>
                        </MudItem>
                        <MudItem   xs="9">
                            <MudText Style="position: absolute;top: 30%;"> Python</MudText>
                        </MudItem>
                    </MudGrid>
                </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="12" sm="6">
    <MudList>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.GWjlB9_708s3lbx8ufOYlwHaEl%26pid%3DApi&f=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> ASP.NET</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimmibbilisim.com%2Fuploads%2Fimages%2Farticles%2FNx5w9Kz1QRezev6ILVlC.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> C#</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.iconscout.com%2Ficon%2Ffree%2Fpng-256%2Fcss-118-569410.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> CSS</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fis4.mzstatic.com%2Fimage%2Fthumb%2FPurple6%2Fv4%2Fca%2F33%2Fc8%2Fca33c833-4b9d-3bfe-b094-8bfa2da43cf2%2Fsource%2F512x512bb.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> JSON</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ficon-library.com%2Fimages%2Fajax-icon%2Fajax-icon-7.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> AJAX</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Fclipart-bootstrap.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> Bootstrap</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Favatars-03.gitter.im%2Fgroup%2Fiv%2F6%2F5f5b44c4d73408ce4feea23d&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> MudBlazor</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.knowledge7.com%2Fwp-content%2Fuploads%2F2014%2F06%2F20140619-git-logo.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem   xs="9">
                    <MudText Style="position: absolute;top: 30%;"> Git</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem>
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F4%2F4b%2FBash_Logo_Colored.svg%2F1200px-Bash_Logo_Colored.svg.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;"> Bash</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
          <MudListItem>
                    <MudGrid>
                        <MudItem xs="3">
                            <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fcoding-files-extensions%2F512%2Fcoding-file-extension-yaml-512.png&f=1&nofb=1">
                            </MudAvatar>
                        </MudItem>
                        <MudItem  xs="9">
                            <MudText Style="position: absolute;top: 30%;"> YAML</MudText>
                        </MudItem>
                    </MudGrid>
                </MudListItem>
    </MudList>
</MudItem>
</MudGrid>
</MudCardContent>
</MudCard>
</MudItem>
<MudItem xs="12" sm="6">
<MudCard>
    <MudCardContent>
        <MudGrid>
        <MudItem xs="6">
            <MudText Typo="typo">Soft Skills</MudText>
        </MudItem>
            <MudItem xs="6">
            <MudFab Style="margin-left: 80%" Size="Size.Small" Icon="@Icons.Material.Filled.List" OnClick="ShowList"></MudFab>
            </MudItem>
        </MudGrid>
        <MudCarousel Style="height: 300px;" ShowDelimiters="false" AutoCycleTime="TimeSpan.FromSeconds(5)" TData="object">
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media3.giphy.com/media/gEvab1ilmJjA82FaSV/giphy.gif?cid=ecf05e47oln8l8n6okjzy2lsf8rjpwokwtox15ianzg1ktno&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Analytical and Critical Thinking</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media1.giphy.com/media/V1NxC1YoNEHBe/giphy.gif?cid=ecf05e474b8hf26w9a0jhnknj4g319158x3rk3couuvkad2j&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Adaptability</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudGrid>
                                            <MudItem xs="12" >
                                                <img style="height: 100%;width: 100%;" src="https://media2.giphy.com/media/iJVbodB91yLDO/giphy.gif?cid=ecf05e47movusl84ynkmuxttn6h7n2o5d4880hhglzef60lf&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                    <MudGrid>                      
                        <MudItem xs="12" >
                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Organized and Results Driven</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media1.giphy.com/media/UqZ4imFIoljlr5O2sM/giphy.gif?cid=ecf05e47bvg32ydn167h5dmigxhfhvkckoad1ofda242kzqb&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Self Motivated</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F35zbwp.jpg&f=1&nofb=1"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Emotional Quality</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media4.giphy.com/media/SKT4HdqZSSPbaobtPs/giphy.gif?cid=ecf05e477pe5vl85tomdj3xlsyzb9fur4pb8udzaed354gcl&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Communicative</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media1.giphy.com/media/RGdeFw1kttYPFs3EQu/giphy.gif?cid=ecf05e47wanna9ri5m95aw9kg7322wose408isoskkcvgbej&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Empathy</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media3.giphy.com/media/l1J9v4RNoCdFjuvtu/giphy.gif?cid=ecf05e47gsxwmpzvepya1mjw3tch90l57gaok74drxum8c6l&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Teamwork</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media1.giphy.com/media/Q3mkfoatPNuco/giphy.gif?cid=ecf05e473g3aa84ay597uqrfa5hmox0b36angozs15vgyt4l&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                <MudGrid>
                                        <MudItem xs="12" >
                                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Dedication</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudGrid>                       
                        <MudItem xs="12" >
                            <img style="height: 100%;width: 100%;" src="https://media3.giphy.com/media/94iS62lx8CRQA/giphy.gif?cid=ecf05e47bj196j9y0ijcnbgqyp2rfjelr4fn6v0rnk4rovxq&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                    <MudGrid>                        
                        <MudItem xs="12" >
                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Presentation Skills</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                <MudGrid>
                                        <MudItem xs="12" >
                                            <img style="height: 100%;width: 100%;" src="https://media1.giphy.com/media/3rgXBBaVvhPXk3NSnK/giphy.gif?cid=ecf05e472rnkhsa94rxpme2kamjlff24suwfn8mpjcbjds4r&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                                            <MudItem xs="12" >
                                                <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Customer Oriented</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="Transition.Slide">
                <div class="d-flex" style="height:100%">
                    <MudGrid>
                                               <MudItem xs="12" >
                                                   <img style="height: 100%;width: 100%;" src="https://media4.giphy.com/media/JEZ3wy3IUQR8s/giphy.gif?cid=ecf05e47bozyeots5cgrqzsksq108aa0ms4926gelu5daste&rid=giphy.gif&ct=g"/>
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="12" >
                            <MudText  Style="text-align: center;margin-top: 40%" Typo="Typo.h6">Commitment</MudText>
                        </MudItem>
                    </MudGrid>
                    <MudText></MudText>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </MudCardContent>
</MudCard>
@if (showList)
{
    <MudItem>
        <div class="row">
            <MudList>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Analytical and Critical thinking"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Adaptability"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Organized and Results Driven"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Self-Motivated"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Emotional Quality"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Communicative"></MudListItem>
            </MudList>
            <div style="margin: 15%"></div>
            <MudList>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Empathy"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Teamwork"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Creative"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Customer Oriented"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Dedication"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Commitment"></MudListItem>
            </MudList>
        </div>
    </MudItem>
}
<MudItem>
    <MudCard>
         <MudCardContent>
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudList>

                    <MudListItem>
                        <MudGrid>
                            <MudItem xs="4">
                                <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.logolynx.com%2Fimages%2Flogolynx%2F3b%2F3b5b6fc3685a97700e1d7a6fb6fdd329.jpeg&f=1&nofb=1"></MudAvatar>
                            </MudItem>
                            <MudItem  xs="8">
                                <MudText Style="position: absolute;top: 30%;">English</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudListItem>
                </MudList>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudList>
                    <MudListItem>
                        <MudGrid>
                            <MudItem xs="4">
                                <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fgreek-flag-button-flag-of-greece-badge-3d-illustration-picture-id542202524%3Fk%3D6%26m%3D542202524%26s%3D612x612%26w%3D0%26h%3D6o98NbU1Ib-T4GL05sSwoVhQfJ42AY43i7cWJCwVA-M%3D&f=1&nofb=1"></MudAvatar>
                            </MudItem>
                            <MudItem  xs="8">
                                <MudText Style="position: absolute;top: 30%;">Greek</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudListItem>
                </MudList>
            </MudItem>
        </MudGrid>
       </MudCardContent>
    </MudCard>
</MudItem>
</MudItem>
</MudGrid>

@code {
    bool IsXSmallDown = false;
    private string hidden = "visibility:visible";
    BrowserWindowSize browser = new BrowserWindowSize();
    public Typo typo { get; set; }
    protected override async void OnInitialized()
    {
        browser = await _listener.GetBrowserWindowSize();
        if (browser.Width < 600)
        {
            typo = Typo.body1;
            hidden = "visibility:hidden";
        }
        else
        {
            typo = Typo.h5;
        }
        StateHasChanged();
    }

    private bool showList { get; set; } = false;

    private void ShowList()
    {
        showList = !showList;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        
        if (firstRender)
        {
    // Subscribe to the OnResized event. This will do work when the browser is resized.
            _listener.OnResized += WindowResized;
        }
    }
    public void Dispose()
    {
    // Always use IDisposable in your component to unsubscribe from the event.
    // Be a good citizen and leave things how you found them. 
    // This way event handlers aren't called when nobody is listening.
        _listener.OnResized -= WindowResized;
    }
    async void WindowResized(object _, BrowserWindowSize window)
    {
    // Get the browsers's width / height
        browser = window;

    // Check a media query to see if it was matched. We can do this at any time, but it's best to check on each resize
        IsXSmallDown = await _listener.MatchMedia(Breakpoints.SmallDown);

    // We're outside of the component's lifecycle, be sure to let it know it has to re-render.
        if (IsXSmallDown == true)
        {
            typo = Typo.body1;
            hidden = "visibility:hidden";
        }else
        {
            hidden = "visibility:visible";
            typo = Typo.h5;

        }
        StateHasChanged();
    }
}