@page "/Skills"
<MudGrid>

<MudItem xs="6">
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h5">Programming Skills</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudList>

            </MudList>
        </MudCardContent>
    </MudCard>
</MudItem>
<MudItem xs="6">
    <MudCard>
        <MudCardContent>
           <div class="row">
                        <MudText Typo="Typo.h5">Soft Skills</MudText>
                    <MudFab Style="margin-left: 80%" Size="Size.Small" Icon="@Icons.Material.Filled.List" OnClick="ShowList"></MudFab>
                    </div>
            <MudCarousel Style="height: 300px;" ShowDelimiters="false" AutoCycleTime="TimeSpan.FromSeconds(5)" TData="object">
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media3.giphy.com/media/gEvab1ilmJjA82FaSV/giphy.gif?cid=ecf05e47oln8l8n6okjzy2lsf8rjpwokwtox15ianzg1ktno&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Analytical and Critical Thinking</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media1.giphy.com/media/V1NxC1YoNEHBe/giphy.gif?cid=ecf05e474b8hf26w9a0jhnknj4g319158x3rk3couuvkad2j&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Adaptability</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media2.giphy.com/media/iJVbodB91yLDO/giphy.gif?cid=ecf05e47movusl84ynkmuxttn6h7n2o5d4880hhglzef60lf&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Organized and Results Driven</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media1.giphy.com/media/UqZ4imFIoljlr5O2sM/giphy.gif?cid=ecf05e47bvg32ydn167h5dmigxhfhvkckoad1ofda242kzqb&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Self Motivated</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F35zbwp.jpg&f=1&nofb=1"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Emotional Quality</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media4.giphy.com/media/SKT4HdqZSSPbaobtPs/giphy.gif?cid=ecf05e477pe5vl85tomdj3xlsyzb9fur4pb8udzaed354gcl&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Communicative</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media1.giphy.com/media/RGdeFw1kttYPFs3EQu/giphy.gif?cid=ecf05e47wanna9ri5m95aw9kg7322wose408isoskkcvgbej&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Empathy</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media3.giphy.com/media/l1J9v4RNoCdFjuvtu/giphy.gif?cid=ecf05e47gsxwmpzvepya1mjw3tch90l57gaok74drxum8c6l&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Teamwork</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media1.giphy.com/media/Q3mkfoatPNuco/giphy.gif?cid=ecf05e473g3aa84ay597uqrfa5hmox0b36angozs15vgyt4l&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Dedication</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media3.giphy.com/media/94iS62lx8CRQA/giphy.gif?cid=ecf05e47bj196j9y0ijcnbgqyp2rfjelr4fn6v0rnk4rovxq&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Presentation Skills</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media1.giphy.com/media/3rgXBBaVvhPXk3NSnK/giphy.gif?cid=ecf05e472rnkhsa94rxpme2kamjlff24suwfn8mpjcbjds4r&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%; margin-left: 50%;" Typo="Typo.h6">Customer Oriented</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudGrid>
                            <MudItem xs="6">
                                <img style="height: 300px;width: 400px;" src="https://media4.giphy.com/media/JEZ3wy3IUQR8s/giphy.gif?cid=ecf05e47bozyeots5cgrqzsksq108aa0ms4926gelu5daste&rid=giphy.gif&ct=g"/>
                            </MudItem>
                        </MudGrid>
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Style="margin-top: 50%;margin-left: 50%;" Typo="Typo.h6">Commitment</MudText>
                            </MudItem>
                        </MudGrid>
                        <MudText></MudText>
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudCardContent>
    </MudCard>
    @if (showList)
    {
        <MudItem>
            <div class="row">
                <MudList>
                    <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Analytical and Critical thinking"></MudListItem>
                    <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Adaptability"></MudListItem>
                    <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Organized and Results Driven"></MudListItem>
                    <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Self-Motivated"></MudListItem>
                    <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Emotional Quality"></MudListItem>
                    <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Communicative"></MudListItem>
                </MudList>
                <div style="margin: 15%"></div>
            <MudList>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="Empathy"></MudListItem>
                <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Teamwork"></MudListItem>
                <MudListItem IconColor="Color.Default"  Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Creative"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Customer Oriented"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Dedication"></MudListItem>
                <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt"  Text="Commitment"></MudListItem>
            </MudList>
            </div>
        </MudItem>
    }
</MudItem>
</MudGrid>

@code {
    private bool showList { get; set; } = false;

    private void ShowList()
    {
        showList = !showList;
    }
}