@if (gridLoad=="hidden" && theme=="dark")
{
    <div style="background: black;text-align: center;height: 100vh">
       <MudProgressCircular Style="margin-top:25%;width: 70px;height: 70px;" Color="Color.Success" Indeterminate="true" />
    </div>
}else if (gridLoad=="hidden" && theme == "light")
{        
    <div style="background: black;text-align: center;height: 100vh">
     <MudProgressCircular Style="margin-top:25%;width: 70px;height: 70px;"  Color="Color.Default" Indeterminate="true" />
    </div>
}
else
{
    
<MudGrid>
<MudItem xs="12" sm="6">
<MudCard>
<MudCardHeader>
    <MudText Typo="Typo.h6">Programming Skills</MudText>
</MudCardHeader>
<MudCardContent>
    <MudGrid>
        @foreach (var item in SkillsModel.Value.ProgrammingSkills)
        {
            <MudItem xs="12" sm="6">
                <MudGrid>
                    <MudItem xs="3">
                        <MudAvatar Image="@(((dynamic)item.Value).image)">
                        </MudAvatar>
                    </MudItem>
                    <MudItem xs="9">
                        <MudText Style="margin-top: 10px;"> @(((dynamic)item.Value).text)</MudText>
                    </MudItem>
                </MudGrid>
            </MudItem>
        }
    </MudGrid>
</MudCardContent>
</MudCard>
</MudItem>
<MudItem xs="12" sm="6">
<MudCard>
    <MudCardContent>
        <MudGrid>
        <MudItem xs="6">
            <MudText Typo="Typo.h6">Soft Skills</MudText>
        </MudItem>
            <MudItem xs="6">
            <MudFab Style="margin-left: 80%" Size="Size.Small" Icon="@Icons.Material.Filled.List" OnClick="ShowList"></MudFab>
            </MudItem>
        </MudGrid>
        <MudCarousel Style="height: 300px;" ShowDelimiters="false" AutoCycleTime="TimeSpan.FromSeconds(5)" TData="object">
         @foreach (var item in SkillsModel.Value.SoftSkills)
         {
             if (!item.Key.Equals("english") && !item.Key.Equals("greek"))
             {
                 <MudCarouselItem Transition="Transition.Slide">
                     <div style="height:100%;text-align: center">
                         <img style="height: 85%;width: 100%;" src="@(((dynamic)item.Value).image)"/>
                         <MudText Style="height: 15%" Typo="Typo.h6"> @(((dynamic)item.Value).text)</MudText>
                     </div>
                 </MudCarouselItem>
             }
         }
        </MudCarousel>
    </MudCardContent>
</MudCard>
@if (showList)
{
    <MudItem>
        <div class="row">
            <MudList>
                 @foreach (var item in SkillsModel.Value.SoftSkills)
                 {
                     if (!item.Key.Equals("english") && !item.Key.Equals("greek"))
                     {
                         <MudListItem IconColor="Color.Default" Icon="@Icons.Material.Filled.ArrowRightAlt" Text="@(((dynamic)item.Value).text)"></MudListItem>
                     }
                 }
            </MudList>
        </div>
    </MudItem>
}
<MudItem>
    <MudCard>
         <MudCardContent>
        <MudGrid>
        @foreach (var item in SkillsModel.Value.SoftSkills)
        {
            if (item.Key.Equals("english") || item.Key.Equals("greek"))
            {
                <MudItem xs="12" sm="6">
                            <MudGrid>
                                <MudItem xs="4">
                                    <MudAvatar Image="@(((dynamic)item.Value).image)"/>
                                </MudItem>
                                <MudItem  xs="8">
                                    <MudText Style="margin-top: 10px;">@(((dynamic)item.Value).text)</MudText>
                                </MudItem>
                            </MudGrid>
                </MudItem>
            }
        }
        </MudGrid>
       </MudCardContent>
    </MudCard>
</MudItem>
</MudItem>
</MudGrid>
}
@code {
   
}