@page "/Tools"
@using AngleSharp.Dom
@using Breakpoints = BlazorPro.BlazorSize.Breakpoints
@inject IResizeListener _listener
@implements System.IDisposable
@inject IJSRuntime JsRuntime

@if (gridLoad=="hidden" && theme=="dark")
{
    <div>
        <img style="width: 100vw; height: 95vh;" src="https://i.gifer.com/3rCL.gif"/>
    </div>

}else if (gridLoad=="hidden" && theme == "light")
{    
    <div>
        <img style="width: 100vw; height: 95vh;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F38.media.tumblr.com%2F6ebc429ba22c9156e667161ec913c38b%2Ftumblr_n5mufrqAk21tc216ao8_500.gif&f=1&nofb=1"/>
    </div>
}
<MudGrid >
<MudItem xs="12">
<MudCard>
<MudCardHeader >
    <MudText Typo="typo" Style="position: absolute;left: 40%;">Tools - Technologies - Methodologies</MudText>
</MudCardHeader>
<MudCardContent >
<MudGrid >
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("Agile"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftechgenies.com%2Fwp-content%2Fuploads%2F2019%2F08%2FAgile-Lifecycle-Model-1024x699-1.jpeg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Agile</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Office"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.-TGNTIw-nCjgxwZaB3ZowgAAAA%26pid%3DApi&f=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Office Suite</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("StudioCode"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Feditorconfig.org%2Flogos%2Fvisualstudio-code.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Visual Studio Code</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("MSSQL"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.edureka.co%2Fblog%2Fwp-content%2Fuploads%2F2019%2F10%2Flogo.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">MSSQL Server Management Studio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Teams"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ucaas.nl%2Fwp-content%2Fuploads%2F2020%2F07%2FMicrosoft-Teams-UCaaS.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Microsoft Teams</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Microservices"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mulesoft.com%2Fsites%2Fdefault%2Ffiles%2Funified_connectivity_15.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">.Net Microservices</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Postgresql"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_251be2af3ae607c45c14e816eaa1cf41/postgresql.png">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Postgresql</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("Jira"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdaks2k3a4ib2z.cloudfront.net%2F58e32bace1998d6e3fee8d74%2F58e32bace1998d6e3fee9055_JIRA_logo.svg.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Jira</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Azure"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fraymii.org%2Fs%2Finc%2Fimg%2Fazure-logo.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Azure Portal</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Rider"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.birdseyeview.co.th%2Fimages%2Fcontent%2Foriginal-1582363510637.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">JetBrains Rider</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("AzureStudio"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fuser-images.githubusercontent.com%2F17512287%2F46575879-3847d100-c9be-11e8-97dc-1d95d880c187.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Azure Data Studio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Discord"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.logolynx.com%2Fimages%2Flogolynx%2Fs_d5%2Fd5631ac6013e2c34bea37a5e291b6169.jpeg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Discord</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem> 
        <MudListItem OnClick="@(() => Click("MVC"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.tutorialsteacher.com%2FContent%2Fimages%2Fmvc%2Fmvc-architecture.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">MVC Architecture</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem> 
        <MudListItem OnClick="@(() => Click("RStudio"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://c3.klipartz.com/pngpicture/348/233/sticker-png-numix-circle-for-windows-rstudio-icon-thumbnail.png">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">RStudio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("Github"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.techspot.com%2Fimages2%2Fdownloads%2Ftopdownload%2F2021%2F04%2F2021-04-07-ts3_thumbs-8ba.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Github</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("AzureDevOps"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftechairgroup.com%2Fwp-content%2Fuploads%2F2021%2F02%2Fmicrosoft-azure-devops-logo-400x240.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Azure DevOps</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Linux"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi0.wp.com%2Fwww.linuxandubuntu.com%2Fwp-content%2Fuploads%2F2019%2F07%2Flinux-logo-penguin.png%3Fw%3D1400&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Linux</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("RemoteDesktop"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_485734.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Remote Desktop Access tools</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Slack"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fubwp.buffalo.edu%2Fhappe%2Fwp-content%2Fuploads%2Fsites%2F92%2F2019%2F12%2Fslack_logo.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Slack</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem> 
        <MudListItem OnClick="@(() => Click("Repository"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-FUAlav87770%2FXPfn7iW8uZI%2FAAAAAAAACkA%2FtgF4kjj8EVQ9fkzjKSi90wSV6ZvEwWewQCLcBGAs%2Fs1600%2FUsing-Repository-Pattern-and-Dependency-Injection-with-ASPNET-MVC-and-Entity-Framework-.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Repository Pattern</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("PowerPlatform"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.dds.pe%2Fwp-content%2Fuploads%2F2020%2F10%2FLogo-Microsoft-Power-Platform-rectangular.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Microsoft Power Platform</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("VisualStudio"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.windowsmode.com%2Fwp-content%2Fuploads%2F2019%2F05%2FVisual-Studio-2019-official-logo.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Visual Studio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Docker"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pinclipart.com%2Fpicdir%2Fmiddle%2F116-1161113_docker-logo-png-clipart.png&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Docker Containers</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Postman"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fih0.redbubble.net%2Fimage.603535617.7699%2Fst%252Csmall%252C215x235-pad%252C210x230%252Cf8f8f8.lite-1.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem xs="9">
                    <MudText Style="position: absolute;top: 30%;">Postman</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Outlook"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.techhive.com%2Fimages%2Farticle%2F2014%2F09%2Foutlook-logo-100457446-large.jpg&f=1&nofb=1">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Outlook</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("DBeaver"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/DBeaver_logo.svg/1024px-DBeaver_logo.svg.png">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">DBeaver</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
</MudGrid>
</MudCardContent>
</MudCard>
</MudItem>
</MudGrid>

@code {
    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private string gridLoad ="hidden";
    protected override async Task OnInitializedAsync()
    {
        await Visible();

        StateHasChanged();
    }

    public async Task Visible()
    {
        await Task.Delay(1500);
        gridLoad = "visible";
    }
    bool IsXSmallDown = false;
    private string hidden = "visibility:visible";
    BrowserWindowSize browser = new BrowserWindowSize();
    public Typo typo { get; set; }
    private int griColumns = 3;
    private async Task Click(string name)
    {
        switch (name)
        {
            case "Agile":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Agile_software_development", "_blank");
                break;
            case "Office":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Microsoft_Office", "_blank");
                break;
            case "StudioCode":
                await JsRuntime.InvokeAsync<object>("open", "https://code.visualstudio.com/", "_blank");
                break;
            case "MSSQL":
                await JsRuntime.InvokeAsync<object>("open", "https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15", "_blank");
                break;
            case "Teams":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Microsoft_Teams", "_blank");
                break;
            case "Jira":
                await JsRuntime.InvokeAsync<object>("open", "https://www.atlassian.com/software/jira", "_blank");
                break;
            case "Azure":
                await JsRuntime.InvokeAsync<object>("open", "https://azure.microsoft.com/en-us/", "_blank");
                break;
            case "Rider":
                await JsRuntime.InvokeAsync<object>("open", "https://www.jetbrains.com/rider/", "_blank");
                break;
            case "AzureStudio":
                await JsRuntime.InvokeAsync<object>("open", "https://azure.microsoft.com/en-us/services/developer-tools/data-studio/", "_blank");
                break;
            case "Discord":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Discord_(software)", "_blank");
                break;
            case "Github":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/GitHub", "_blank");
                break;
            case "AzureDevOps":
                await JsRuntime.InvokeAsync<object>("open", "https://azure.microsoft.com/en-us/services/devops/?nav=min", "_blank");
                break;
            case "Linux":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Linux", "_blank");
                break;
            case "RemoteDesktop":
                await JsRuntime.InvokeAsync<object>("open", "https://remotedesktop.google.com/?pli=1", "_blank");
                break;
            case "Slack":
                await JsRuntime.InvokeAsync<object>("open", "https://slack.com/intl/en-gr/", "_blank");
                break;
            case "PowerPlatform":
                await JsRuntime.InvokeAsync<object>("open", "https://powerplatform.microsoft.com/en-us/", "_blank");
                break;
            case "VisualStudio":
                await JsRuntime.InvokeAsync<object>("open", "https://visualstudio.microsoft.com/", "_blank");
                break;
            case "Docker":
                await JsRuntime.InvokeAsync<object>("open", "https://www.docker.com/", "_blank");
                break;
            case "Postman":
                await JsRuntime.InvokeAsync<object>("open", "https://www.postman.com/", "_blank");
                break;
            case "Outlook":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Outlook.com", "_blank");
                break; 
            case "DBeaver":
                await JsRuntime.InvokeAsync<object>("open", "https://dbeaver.io/", "_blank");
                break;
            case "Microservices":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Microservices", "_blank");
                break;
            case "MVC":
                await JsRuntime.InvokeAsync<object>("open", "https://www.w3schools.in/mvc-architecture/", "_blank");
                break;
            case "Postgresql":
                await JsRuntime.InvokeAsync<object>("open", "https://www.postgresql.org/", "_blank");
                break;
            case "RStudio":
                await JsRuntime.InvokeAsync<object>("open", "https://www.rstudio.com/", "_blank");
                break;
            case "Repository":
                await JsRuntime.InvokeAsync<object>("open", "https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-ef-5-using-mvc-4/implementing-the-repository-and-unit-of-work-patterns-in-an-asp-net-mvc-application", "_blank");
                break;
        }
    }

    protected override async void OnInitialized()
    {
        browser = await _listener.GetBrowserWindowSize();
        if (browser.Width < 600)
        {
            typo = Typo.body1;
            hidden = "visibility:hidden";
            griColumns = 12;
            Console.WriteLine("123");
        }
        else
        {
            griColumns = 3;
            typo = Typo.h5;
            Console.WriteLine("321");
        }
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
    // Subscribe to the OnResized event. This will do work when the browser is resized.
            _listener.OnResized += WindowResized;
        }
    }

    public void Dispose()
    {
    // Always use IDisposable in your component to unsubscribe from the event.
    // Be a good citizen and leave things how you found them. 
    // This way event handlers aren't called when nobody is listening.
        _listener.OnResized -= WindowResized;
    }

    async void WindowResized(object _, BrowserWindowSize window)
    {
    // Get the browsers's width / height
        browser = window;

    // Check a media query to see if it was matched. We can do this at any time, but it's best to check on each resize
        IsXSmallDown = await _listener.MatchMedia(Breakpoints.SmallDown);

    // We're outside of the component's lifecycle, be sure to let it know it has to re-render.
        if (IsXSmallDown == true)
        {
            typo = Typo.body1;
            griColumns = 12;
            hidden = "visibility:hidden";
        }
        else
        {
            griColumns = 3;
            hidden = "visibility:visible";
            typo = Typo.h5;
        }
        StateHasChanged();
    }

}