@page "/Tools"
@using AngleSharp.Dom
@using Breakpoints = BlazorPro.BlazorSize.Breakpoints
@inject IResizeListener _listener
@implements System.IDisposable
@inject IJSRuntime JsRuntime

@if (gridLoad=="hidden" && theme=="dark")
{
    <div>
        <img style="width: 100vw; height: 95vh;" src="images/binary.gif"/>
    </div>

}else if (gridLoad=="hidden" && theme == "light")
{    
    <div>
        <img style="width: 100vw; height: 95vh;" src="images/swirl.webp"/>
    </div>
}
<MudGrid >
<MudItem xs="12">
<MudCard>
<MudCardHeader >
    <MudText Typo="typo" Style="position: absolute;left: 40%;">Tools - Technologies - Methodologies</MudText>
</MudCardHeader>
<MudCardContent >
<MudGrid >
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("Agile"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/agile.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Agile</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Office"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/files.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Office Suite</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("StudioCode"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/vscode.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Visual Studio Code</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("MSSQL"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/mssql.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">MSSQL Server Management Studio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Teams"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/teams.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Microsoft Teams</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Microservices"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/microservices.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">.Net Microservices</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Postgresql"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/postgres.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Postgresql</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("Jira"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/jira.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Jira</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Azure"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/azure.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Azure Portal</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Rider"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/jbrains.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">JetBrains Rider</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("AzureStudio"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/stud.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Azure Data Studio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Discord"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/discord.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Discord</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem> 
        <MudListItem OnClick="@(() => Click("MVC"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/mvc.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">MVC Architecture</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem> 
        <MudListItem OnClick="@(() => Click("RStudio"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Skills/r.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">RStudio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("Github"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/github.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Github</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("AzureDevOps"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/azdo.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Azure DevOps</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Linux"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/linux.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Linux</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("RemoteDesktop"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/remote.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Remote Desktop Access tools</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Slack"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/slack.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Slack</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem> 
        <MudListItem OnClick="@(() => Click("Repository"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/repo.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Repository Pattern</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
<MudItem xs="griColumns" Style="padding-bottom: 2px;padding-top: 2px;">
    <MudList Clickable="true" Style="padding: 0">
        <MudListItem OnClick="@(() => Click("PowerPlatform"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/powerapps.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Microsoft Power Platform</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("VisualStudio"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/vs.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Visual Studio</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Docker"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Skills/docker.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Docker Containers</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Postman"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/postman.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem xs="9">
                    <MudText Style="position: absolute;top: 30%;">Postman</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("Outlook"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/outlook.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">Outlook</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
        <MudListItem OnClick="@(() => Click("DBeaver"))">
            <MudGrid>
                <MudItem xs="3">
                    <MudAvatar Image="images/Tools/dbeaver.webp">
                    </MudAvatar>
                </MudItem>
                <MudItem  xs="9">
                    <MudText Style="position: absolute;top: 30%;">DBeaver</MudText>
                </MudItem>
            </MudGrid>
        </MudListItem>
    </MudList>
</MudItem>
</MudGrid>
</MudCardContent>
</MudCard>
</MudItem>
</MudGrid>

@code {
    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private string gridLoad ="hidden";
    protected override async Task OnInitializedAsync()
    {
        await Visible();

        StateHasChanged();
    }

    public async Task Visible()
    {
        await Task.Delay(1500);
        gridLoad = "visible";
    }
    bool IsXSmallDown = false;
    private string hidden = "visibility:visible";
    BrowserWindowSize browser = new BrowserWindowSize();
    public Typo typo { get; set; }
    private int griColumns = 3;
    private async Task Click(string name)
    {
        switch (name)
        {
            case "Agile":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Agile_software_development", "_blank");
                break;
            case "Office":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Microsoft_Office", "_blank");
                break;
            case "StudioCode":
                await JsRuntime.InvokeAsync<object>("open", "https://code.visualstudio.com/", "_blank");
                break;
            case "MSSQL":
                await JsRuntime.InvokeAsync<object>("open", "https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15", "_blank");
                break;
            case "Teams":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Microsoft_Teams", "_blank");
                break;
            case "Jira":
                await JsRuntime.InvokeAsync<object>("open", "https://www.atlassian.com/software/jira", "_blank");
                break;
            case "Azure":
                await JsRuntime.InvokeAsync<object>("open", "https://azure.microsoft.com/en-us/", "_blank");
                break;
            case "Rider":
                await JsRuntime.InvokeAsync<object>("open", "https://www.jetbrains.com/rider/", "_blank");
                break;
            case "AzureStudio":
                await JsRuntime.InvokeAsync<object>("open", "https://azure.microsoft.com/en-us/services/developer-tools/data-studio/", "_blank");
                break;
            case "Discord":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Discord_(software)", "_blank");
                break;
            case "Github":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/GitHub", "_blank");
                break;
            case "AzureDevOps":
                await JsRuntime.InvokeAsync<object>("open", "https://azure.microsoft.com/en-us/services/devops/?nav=min", "_blank");
                break;
            case "Linux":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Linux", "_blank");
                break;
            case "RemoteDesktop":
                await JsRuntime.InvokeAsync<object>("open", "https://remotedesktop.google.com/?pli=1", "_blank");
                break;
            case "Slack":
                await JsRuntime.InvokeAsync<object>("open", "https://slack.com/intl/en-gr/", "_blank");
                break;
            case "PowerPlatform":
                await JsRuntime.InvokeAsync<object>("open", "https://powerplatform.microsoft.com/en-us/", "_blank");
                break;
            case "VisualStudio":
                await JsRuntime.InvokeAsync<object>("open", "https://visualstudio.microsoft.com/", "_blank");
                break;
            case "Docker":
                await JsRuntime.InvokeAsync<object>("open", "https://www.docker.com/", "_blank");
                break;
            case "Postman":
                await JsRuntime.InvokeAsync<object>("open", "https://www.postman.com/", "_blank");
                break;
            case "Outlook":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Outlook.com", "_blank");
                break; 
            case "DBeaver":
                await JsRuntime.InvokeAsync<object>("open", "https://dbeaver.io/", "_blank");
                break;
            case "Microservices":
                await JsRuntime.InvokeAsync<object>("open", "https://en.wikipedia.org/wiki/Microservices", "_blank");
                break;
            case "MVC":
                await JsRuntime.InvokeAsync<object>("open", "https://www.w3schools.in/mvc-architecture/", "_blank");
                break;
            case "Postgresql":
                await JsRuntime.InvokeAsync<object>("open", "https://www.postgresql.org/", "_blank");
                break;
            case "RStudio":
                await JsRuntime.InvokeAsync<object>("open", "https://www.rstudio.com/", "_blank");
                break;
            case "Repository":
                await JsRuntime.InvokeAsync<object>("open", "https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-ef-5-using-mvc-4/implementing-the-repository-and-unit-of-work-patterns-in-an-asp-net-mvc-application", "_blank");
                break;
        }
    }

    protected override async void OnInitialized()
    {
        browser = await _listener.GetBrowserWindowSize();
        if (browser.Width < 600)
        {
            typo = Typo.body1;
            hidden = "visibility:hidden";
            griColumns = 12;
            Console.WriteLine("123");
        }
        else
        {
            griColumns = 3;
            typo = Typo.h5;
            Console.WriteLine("321");
        }
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
    // Subscribe to the OnResized event. This will do work when the browser is resized.
            _listener.OnResized += WindowResized;
        }
    }

    public void Dispose()
    {
    // Always use IDisposable in your component to unsubscribe from the event.
    // Be a good citizen and leave things how you found them. 
    // This way event handlers aren't called when nobody is listening.
        _listener.OnResized -= WindowResized;
    }

    async void WindowResized(object _, BrowserWindowSize window)
    {
    // Get the browsers's width / height
        browser = window;

    // Check a media query to see if it was matched. We can do this at any time, but it's best to check on each resize
        IsXSmallDown = await _listener.MatchMedia(Breakpoints.SmallDown);

    // We're outside of the component's lifecycle, be sure to let it know it has to re-render.
        if (IsXSmallDown == true)
        {
            typo = Typo.body1;
            griColumns = 12;
            hidden = "visibility:hidden";
        }
        else
        {
            griColumns = 3;
            hidden = "visibility:visible";
            typo = Typo.h5;
        }
        StateHasChanged();
    }

}