@inject NavigationManager navMan
<MudNavMenu>
    <MudText Typo="Typo.h6" Class="px-4">Navigation</MudText>
    <MudDivider Class="my-2"/>
        <MudNavLink Href="/Profile"   Icon="@Icons.Material.Filled.AssignmentInd" IconColor="Color.Default">
            Profile
        </MudNavLink>
        <MudNavLink Href="/Experience"    Icon="@Icons.Material.Filled.Work" IconColor="Color.Default">
            Experience
        </MudNavLink>
        <MudNavLink Href="/Projects"   Icon="@Icons.Material.Filled.Dns" IconColor="Color.Default">
            Projects
        </MudNavLink>
        <MudNavLink Href="/Tools"  Icon="@Icons.Material.Filled.HomeRepairService" IconColor="Color.Default">
            Toolkit
        </MudNavLink>
        <MudNavLink Href="/Skills" Icon="@Icons.Material.Filled.Extension" IconColor="Color.Default">
            Skills
        </MudNavLink>
        <MudNavLink Href="/Certifications" Icon="@Icons.Material.Filled.Task" IconColor="Color.Default">
            Certifications
        </MudNavLink>
        <MudNavLink Href="/Interests"   Icon="@Icons.Material.Filled.Interests" IconColor="Color.Default">
            Interests
        </MudNavLink>
        <MudNavLink Href="/InProgress"  Icon="@Icons.Material.Filled.Downloading" IconColor="Color.Default">
            In progress
        </MudNavLink>
        <MudNavLink Href="/Contact"  Icon="@Icons.Material.Filled.PermPhoneMsg" IconColor="Color.Default">
            Contact me
        </MudNavLink>
        <div style="padding-bottom: 10px;"></div>
        <MudNavLink Href="/Copyright" Style="color: dodgerblue"> @copy</MudNavLink>
</MudNavMenu>

@code {
    [CascadingParameter(Name = "theme")]
    protected string theme { get; set; }
    private  string color { get; set; }
    protected override void OnParametersSet()
    {
        color = theme == "dark" ? "dimgray" : "#bfbbbb";
        base.OnParametersSet();
    }
    private string copy =$"Copyright @{DateTime.Now.Year}" ;

    private async Task Click(string name)
    {
        navMan.NavigateTo($"/{name}");
    }
    
}